.container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.myProfileData_items {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px 0px;
}

.myProfileData_edit {
    align-self: flex-start;
}

.myProfileData_editButton {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    letter-spacing: 2px;
    padding: 2px 12px;
    background-color: #BDCCFF;
    border-radius: 50px;
    color: #000;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.45;
    transition: background-color 0.3s ease 0s;
}

.myProfileData_editButton:hover {
    background-color: #809dfc;
}

.myProfileData_item {
    display: flex;
    column-gap: 5px;
}

.myProfileData_itemTitle {
    font-weight: 500;
}

.myProfileData_itemField {
    font-weight: 600;
}

.myProfileData_contactsItems {}

.myProfileData_ProfileStatusContainer {}

.myProfileData_profileStatus {}

.myProfileData_statusBody {
    display: flex;
    column-gap: 5px;
}


._myProfileData_ProfileStatus {}