.page {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 70%;
    justify-content: space-around;
}

.avatart {}

.news,
.profile,
.dialogs,
.chat,
.users {
    color: #bcaaa4;
    text-decoration: none;
}

.news:hover {
    color: #809dfc;
}

.profile:hover {
    color: #809dfc;
}

.dialogs:hover {
    color: #809dfc;
}

.chat:hover {
    color: #809dfc;
}

.users:hover {
    color: #809dfc;
}


@media (max-width:767.98px) {
    .page {
        flex-direction: column;
        row-gap: 36px;
        font-weight: 800;
        font-size: 24px;
        justify-content: flex-start;
    }

    .news,
    .profile,
    .dialogs,
    .chat,
    .users {
        color: #3e2723;
    }

    .avatart {
        display: none;
    }

    .profile {}
}