.items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 1 auto;
    position: relative;
    height: 100%
}

.edit {
    align-self: flex-start;
}

.editButton {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    letter-spacing: 1px;
    padding: 4px 18px;
    background-color: #3e2723;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    line-height: 1.45;
    transition: background-color 0.3s ease 0s;
}

.editButton:hover {
    background-color: #809dfc;
}


.contactsItems {}

.content {}


.item {
    display: flex;
    gap: 5px;
    padding-bottom: 8px;
}


.contactItem {
    display: flex;
    gap: 4px;
}

.itemTitle {
    font-weight: 500;
}

.itemField {
    font-weight: 600;
    flex: 1 1 auto;
}

@media (max-width:860.98px) {
    .itemTitle {
        font-weight: 400;
        font-size: 14px;
    }

    .itemField {
        font-size: 14px;
    }

}

@media (max-width:600.98px) {
    .contactItem:not(:last-child) {
        margin-bottom: 8px;
    }
}

@media (max-width:479.98px) {
    .contactItem {
        flex-direction: column;
    }
}

.ProfileStatusContainer {}